/Destino/build/
/Destino/nbproject/private/
/Empresa_Productora/build/
/Empresa_Productora/nbproject/private/
/Empresa_Transportista/build/
/Empresa_Transportista/nbproject/private/
/Residuo/build/
/Residuo/nbproject/private/
/Residuo_Constituyente/build/
/Residuo_Constituyente/nbproject/private/
/Traslado_Residuo/build/
/Traslado_Residuo/nbproject/private/
